.first{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    width: 19%;
    border-radius: 20px;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    
}
.first > p{
    position: relative;
    left: 10px;
font-weight: bold;
text-transform: uppercase;
}
.first:hover{
    background-color: #eeeeee;

}
.show_products{
    display: grid;
    place-items: center;
}
.show_option{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 17%;
    border-radius: 20px;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    padding: 10px;
    height: 30px;
    position: relative;
    top: -20px;
    left: 10px;
    margin-bottom: 10px;
}
.show_option:hover{
    background-color: #eeeeee;
}
.show_option > img{
    height: 40px;
}
.show_option > .api{
    font-size:18px;
    position: relative;
    left: 10px;
color: #777777;
font-weight: 400 !important;
}
.show_option > .api_docs{
    font-size:18px;
    position: relative;
    left: 10px;
color: #777777;
}
.show_sidebar{
    padding: 10px;
}