.kep-login-facebook{
    padding: 15px !important;
    font-weight: bold !important;
    text-transform: inherit !important;
    box-shadow: rgba(0, 0, 0, 0.34) 0px 2px 2px 1px, rgba(0, 0, 0, 0.24) 0px 0px 1px 1px;
        border: none !important;
    margin-left: 20px;
    outline: none;
    border-radius: 2px !important;
}