.google{
font-weight: bold !important;
outline: none;
font-size: 18px !important;
padding-left: 15px !important;
padding-right: 15px !important;
color: black !important;
padding-top: 3px !important;
padding-bottom: 3px !important;
}
