/* .header{
   display: flex;
   align-items: center;
   justify-content: space-between;
background-color: white;
height: 100px;
}
.header_brand{
    display: flex;
    align-items: center;
}
.header_brand > img{
    height: 80px;
    object-fit: contain;
    border-radius:50%;
}

.header_brand > h1{
    font-size: 30px;
    font-weight:bold;
    margin-left: -64px;
}
.header_button{
    margin-right: 10px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.header_brand > img{
    font-size:40px;
animation: image 3s infinite;
margin-left: -44px;
}
@keyframes image{
    0%{
        transform: rotate(0deg);

    }

    100%{
        transform: rotate(360deg);
        }
} */