.navbar{
    background-color:#28284E;
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom:15px;
    padding-left: 15px;
    padding-right: 15px;
  justify-content:space-between;
}
.navbar_left > h1{
    font-family: 'Segoe UI', Geneva, Verdana, sans-serif;
    color:white;
    font-weight: Semibold;
    margin-left: 5px;
    font-size: 32px;
}
.navbar_left{
    display: flex;
    align-items: center;

}
.navbar-right{
    color: white;
    font-size:30px !important;
}
.navbar-search{
    flex: 0.3;
}

@media only screen and (max-width: 768px) {

    
    
    .navbar {
        width: 151.2vw;
    }
    
    body {
        width: 139vw;
    }
    
}