.login_complete{
    overflow: hidden;
}
.login{
    display: grid;
    place-items: right;
    justify-content: right;
    padding:12px;
}
.mobile_look{
    background-color: #f2f2f2;
    border-radius: 90px;
    width: 62px;
    height:10px;
    justify-content: center;
    position: relative;
    top: 30px;
}
.mobile{
    display: grid;
    place-items: center;
    position: relative;
    bottom: 70px;
}

.MuiButton-label{
    font-weight: bold !important;
}
.login_container > h2{
    font-weight:700;
    font-size:36px;
    color: #525252;
}
.login_container > button{
    margin-top:50px;
    text-transform: inherit !important;
    width: 100%;
    color: white;
font-weight: bold;
}
.MuiButton-containedSecondary {
    color: #fff;
    background-color: #f50057;
    width: 100% !important;
    margin-top: 20px !important;
    margin-left: 10px !important;
    height: 44px !important;
}
.forgot_password{
    float: right;
    text-decoration: none;
    margin-right: 50px;

}
.link{
    text-decoration: none;
font-weight: bold;
position: relative;
left: 10px;
}
.login_container{
    padding-left: 10px;
    padding-right: 10px;
  padding-top: 50px;
    padding-bottom: 200px;
    text-align: center;
    background-color:WHITE;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    position: relative;
   top:-62px;
   border-radius: 50px 50px 0px 0px;
position: relative;
top: 60px;
}
.align{
    display: flex;
    align-items: end;
    justify-content: space-around;
}
.login_container > .MuiSvgIcon-root{
    font-size:60px;
animation: image 6s infinite;
}
.MuiOutlinedInput-input{
    padding: 16.5px 14px !important;
}
.more{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text > h2{
    color: #595353;
    font-size:36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

}
.text{
    padding:0 30px;
}
.text > p{
    color: #595353;
    font-size:24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 773px;
    height: 56px;
    line-height: 24px;
}
.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left:30px !important;
    margin-top: 10px;
}
.full-name{
    display: flex;
    width: 328px;
}
.password-strength-meter{
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
}
.meter{
    width: 100%;
    height: 6px;
    border-radius: 6px;
    margin-left: 1.8px;
}
.meter-content{
    width: 100%;
    display: flex;
}
.password-status{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;

}