.signup{
   padding: 12px;
    display: grid;
    place-items: center;
}
.mobile_look{
    background-color: #f2f2f2;
    border-radius: 90px;
    width: 62px;
    height:10px;
    justify-content: center;
    position: relative;
    top: 30px;
}
.mobile{
    display: grid;
    place-items: center;
    position: relative;
    bottom: 70px;
}
.signup_container > h2{
    font-weight:700;
    font-size:28px;
    color: #525252;
}
.signup_container > button{
    margin-top:50px;
    text-transform: inherit !important;
    width: 100%;
    color: white;
font-weight: bold !important;
}
.link{
    text-decoration: none;
font-weight: bold;
}
.signup_container{
    padding:50px;
    text-align: center;
    background-color:rgb(248 248 248);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),0 1px 2px rgba(0, 0, 0, 0.24);
    position: relative;
    top:-62px;
}
.signup_container > .MuiSvgIcon-root{
    font-size:60px;
animation: image 6s infinite;
}
@keyframes image{
    0%{
        transform: rotate(0deg);
        color: red;
    }
    20%{
        color: rgb(243, 51, 51);
    }
    40%{
        color: rgb(204, 65, 65);
    }
    60%{
        color: rgb(240, 45, 45);
    }
    80%{
        color: rgb(253, 74, 74);
    }
    100%{
        transform: rotate(360deg);
       color: red;
    }
}
.back > img{
    height: 160px;
    padding: 30px;
}
.back{
    background-color: #f50057;
    height: 27vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.more{
    margin-top: 20px;
    display: flex;
    align-items: center;
justify-content: center;
margin-left: 35px !important;
}