.App_token {
    font-family: sans-serif;
  }
  
  .key_api {
    background: white;
    border: none;
    border-radius: 6px;
    padding-bottom: 20px;
  }
  .key_header > h1 {
    
      font-size: 36px;
      color: #28284e;
      padding-left: 35px;
  
  }
  hr {
    color: whitesmoke;
    border: 1px solid whitesmoke;
  }
  .key_content {
    padding: 10px;
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

  }
  .key_content > p {
    background: #eeeeee;
    height: 40px;
  }
  .key_content > span {
    color: #868484;
  }
  
  .key_content > .mid_high {
    color: #3e3a3a;
  }
  .key_content > .high {
    color: #3e3a3a;
    font-weight: 900;
  }
  

  